name: Deploy Puppiary Site

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Deploy via Git Pull
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        
        script: |
          eval "$(ssh-agent -s)"
          cd /var/www/puppiary.com/html
          git pull origin main
          sudo systemctl reload nginx